body {

    font-family: "Montserrat", sans-serif !important;
}

$montserrat: "Montserrat", sans-serif;
$open-sans: "Open Sans", sans-serif;

/// Mixin to prefix a property
/// @author Danylo Santoro
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  } 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }
  [class*="block-grid-"] > li {
    display: block;
    height: auto;
    float: left;
    padding: 0 0.625rem 1.25rem; }

@media only screen {
  .small-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .small-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .small-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .small-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .small-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .small-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .small-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .small-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .small-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .small-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .small-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .small-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .small-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 40.063em) {
  .medium-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .medium-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .medium-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .medium-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .medium-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .medium-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .medium-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .medium-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .medium-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .medium-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .medium-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .medium-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .medium-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .medium-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .medium-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .medium-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .medium-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .medium-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .medium-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .medium-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .medium-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .medium-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .medium-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 64.003em) {
  .large-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .large-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .large-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .large-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .large-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .large-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .large-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .large-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .large-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .large-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .large-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .large-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .large-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }

.image {
  display: block;
  position: relative;
}

.image img {

    display: block;
    height: auto;
    width: 100%;
}

.image.is-square img, 
.image.is-1by1 img, 
.image.is-4by3 img, 
.image.is-3by2 img, 
.image.is-16by9 img, 
.image.is-2by1 img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.image.is-square, .image.is-1by1 {

    padding-top: 100%;
}

.image.is-4by3 {

  padding-top: 75%;
}

.image.is-3by2 {

  padding-top: 66.6666%;
}

.image.is-16by9 {

  padding-top: 56.25%;
}

.image.is-2by1 {

  padding-top: 50%;
}

.flex {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.header {

    background-color: white;
    padding: 25px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;

    > .row {

        @include prefix(align-items, center, webkit moz ms);
    }

    .logo {

        display: block;
    }

    .navigation {

        @include prefix(align-items, center, webkit moz ms);
        @include prefix(justify-content, flex-end, webkit moz ms);
        list-style: none;
        float: right;
        width: 100%;
        margin: 0;

        > li {

            font-weight: 600;
            font-size: 14px;

            > a {

                font-family: $open-sans;
                color: #a29e9e;
            }
        }

        > li:not(last-child) {

            margin-right: 30px;
        }
    }
}

.hero {

    background-color: #cccccc;
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 10;
    overflow: hidden;

    .row {

        width: 100%;
    }
    
    .curtain {

        @include prefix(align-items, center, webkit moz ms);
        @include prefix(justify-content, flex-end, webkit moz ms);
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        h2 {

            font-family: $montserrat;
            letter-spacing: -1px;
            font-size: 3.75rem;
            font-weight: 700;
            color: white;
            margin: 0;
        }

        p {

            font-family: $montserrat;
            line-height: 1.2;
            font-weight: 100;
            font-size: 30px;
            color: white;
        }
    }

    video {

        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
    }
}

@media (max-width: 600px) {

    .hero {

        h2 {

            font-size: 2.7em !important;
            line-height: 1.2;
        }

        p {

            font-size: 22px !important;
        }

        a {

            color: white;
        }
    }
}

.btn-default {

    font-family: $montserrat;
    display: inline-block;
    margin: 0 10px 10px 0;

    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 30px;
    font-weight: 500;
    font-size: 14px;
    color: white;

    @include prefix(transition, .3s all , ms moz webkit);

    &:hover {

        background-color: white;
        text-decoration: none;
    }
}

.each-product {

    text-align: center;
    padding: 0 20px;
    color: #666666;

    figure {

        margin: 0 auto 30px;
        max-width: 80px;
    }

    h3 {

        font-family: $montserrat;
        margin-bottom: 15px;
        text-align: center;
        font-weight: 300;
        font-size: 30px;
        line-height: 1.2;
        padding: 0 20px;
    }

    p {

        font-family: $open-sans;
        margin-bottom: 30px;
        text-align: center;
        font-size: 14px;
    }

    .btn-default {

        border: 1px solid #9b9797;
        color: #9b9797;
        margin: 0;

        &:hover {

            background-color: #9b9797;
            color: white;
        }
    }
}

@media (max-width: 600px) {

    .each-product {

        margin-bottom: 30px;
    }
}

.container {

    padding: 60px 0;
    width: 100%;

    &.container-gray {

        background-color: #f9f9f9;
    }

    &.container-clubs {

        background: url('images/bg-club.jpg') no-repeat center;
        background-size: cover;
        padding: 0;

        position: relative;

        > .curtain {

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            position: absolute;

            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
        }
    }

    &.container-footer {

        background-color: #de5514;
    }
}

.title {

    font-family: $montserrat;
    letter-spacing: -1px;
    font-size: 2.8125rem;
    color: #666666;
    font-weight: 600;
}

.select-events {

    @include prefix(justify-content, center , ms moz webkit);
    @include prefix(align-items, baseline , ms moz webkit);
    font-family: $open-sans;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 300;
    color: #666666;
    font-size: 25px;

    > select {

        background-position: right 0 center;
        background-color: transparent;
        border: 1px solid #dddbdb;
        display: inline-block;
        margin: 0 0 0 15px;
        padding: 6px 12px;
        max-width: 300px;
        font-weight: 300;
        font-size: 25px;
        line-height: 1;
        color: #666666;
    }
}

@media (max-width: 600px) {

    .select-events {

        @include prefix(flex-direction, column, ms moz webkit);

        .mobile-centered {

            display: block;
            width: 100%;
        }

        select {

            margin: 15px 0 0 0;
            max-width: 100%;
        }
    }

    .place-filter {

        display: none;
    }
}

.each-competition {

    box-shadow: 1px 1px 10px #999999;
    margin: 6px 15px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    color: #545454;

    figure {

        margin-bottom: 30px;
    }

    .competition-info {

        padding: 0 30px;

        h4 {

            font-family: $open-sans;
            font-weight: 700;
            font-size: 22px;
            color: #545454;
            margin: 0;
            line-height: 1.2;
        }

        > .row {

            padding-bottom: 30px;
            border-bottom: 1px solid #dddbdb;
        }

        .location {

            @include prefix(align-items, center , ms moz webkit);
            @include prefix(justify-content, center , ms moz webkit);
            text-align: center;
            margin: 10px 0;
            color: #545454;

            > img {

                display: inline-block;
                margin: 0 10px 0 0;
            }
        }

        .day {

            font-family: $open-sans;
            text-align: center;
            color: #999999;
            font-weight: 300;
            font-size: 60px;
        }
    }
}

.slick-next,
.slick-prev {

    text-indent: -9999px;
    height: 20px;
    width: 13px;
}

.slick-next {

    background: url('images/ico-next.png') no-repeat center !important;
}

.slick-prev {

    background: url('images/ico-prev.png') no-repeat center !important;
}

.slick-next:before, .slick-prev:before {

    color: #999999;
}

.slick-dots {

    > li {

        margin: 0 10px;
        height: 8px;
        width: 8px;

        &.slick-active {

            > button {

                background-color: #111111;
            }
        }

        > button {

            background-color: transparent;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            position: relative;
            padding: 0;

            &:before {

                @include prefix(transform, translate(-50%, -50%) , ms moz webkit);
                border: 1px solid #111111;
                position: absolute;
                line-height: 1;
                z-index: 100;
                height: 12px;
                top: 50%;
                left: 50%;
                content: "";
                width: 12px;
                border-radius: 50%;
            }
        }
    }
}

.crop-alike {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > img {

        visibility: hidden;
        width: 100%;
    }
}

.container-clubs {

    .upper-info {

        background-color: #de5514;
        position: relative;
        padding: 30px 0;
        z-index: 10;

        .flex {

            @include prefix(justify-content, space-between , ms moz webkit);

            a {

                font-family: $open-sans;
                font-size: 14px;
                color: white;
            }
        }
    }

    @media (max-width: 600px) {

        .upper-info {

            .flex {

                padding: 15px 0;
                display: block;
            }
        }
    }

    .lower-info {

        position: relative;
        z-index: 10;

        .flex {

            @include prefix(justify-content, space-between , ms moz webkit);
            border-bottom: 1px solid white;
            padding: 80px 0 30px;

            a {

                font-family: $open-sans;
                font-size: 14px;
                color: white;
            }
        }
    }

    @media (max-width: 600px) {

        .lower-info {

            .flex {

                padding: 15px 0;
                display: block;
            }
        }
    }

    .cta-clubs {

        @include prefix(filter, drop-shadow(1px 1px 6px #333333) , ms moz webkit );
        font-family: $montserrat;
        line-height: 1.2;
        font-size: 45px;
        color: white;
        margin: 80px 0;

        strong {

            font-weight: 600;
        }
    }

    .place-filter {

        @include prefix(justify-content,  center, ms moz webkit );
        position: relative;
        padding: 30px 0;
        z-index: 10;

        ul {

            @include prefix(align-items,  center, ms moz webkit );
            list-style: none;
            margin: 0;

            > li {

                font-family: $open-sans;
                font-weight: 300;
                font-size: 20px;
                color: white;

                .label {

                    background-color: #de5514;
                    text-transform: uppercase;
                    display: inline-block;
                    border-radius: 50px;
                    line-height: 2.6;
                    padding: 0 30px;
                    font-size: 12px;
                    color: white;
                    @include prefix(transition, all  .3s, ms moz webkit);

                    &:hover {

                        @include prefix(transform, translateY(-3px), ms moz webkit);
                        opacity: .8;
                    }
                }
            }

            > li:not(:last-child) {

                margin-right: 10px;
            }
        }
    }
}

.each-club {

    position: relative;
    z-index: 10;
    display: block;
    padding: 0 20px;

    &:hover {

        figure {

            @include prefix(transform, rotateY(360deg), ms moz webkit);
        }
    }

    ul {

        margin: 0;
        text-align: center;
        list-style: none;

        > li:first-child {

            margin-bottom: 20px;

            figure {

                display: inline-block;
                position: relative;
                margin: 0 auto;
                @include prefix(transition, transform .6s , ms moz webkit);
                
                > img {

                    border-radius: 50%;
                    border: 2px solid white;
                }

                span.number {

                    @include prefix(align-items, center , ms moz webkit );
                    @include prefix(justify-content, center , ms moz webkit );
                    position: absolute;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    background-color: #de5514;

                    font-size: 9px;
                    color: white;
                    line-height: 1;
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    @include prefix(transform, translate(-50%, -50%), ms moz webkit);
                }
            }
        }

        > li {

            .label {

                background-color: #de5514;
                text-transform: uppercase;
                display: inline-block;
                border-radius: 50px;
                line-height: 2.6;
                padding: 0 30px;
                font-size: 12px;
                color: white;
            }

            h4 {

                font-family: $open-sans;
                text-transform: uppercase;
                margin-bottom: 10px;
                line-height: 1.2;
                font-size: 20px;
                color: white;
            }

            p {

                font-family: $open-sans;
                font-style: italic;
                font-weight: 300;
                font-size: 14px;
                color: white;
                margin: 0;
            }
        }

        > li:nth-child(2) {

            margin-bottom: 30px;
        }
    }
}

.container-partners {

    @media (min-width: 1025px) {

        .to-right {

            text-align: right;
        }
    }

    h4 {

        font-family: $montserrat;
        font-size: 2.8125rem;
        font-weight: 300;
        color: #666666;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    h5 {

        font-family: $montserrat;
        font-size: 1.5625rem;
        font-weight: 700;
        line-height: 1.2;
        color: #666666;
        margin-bottom: 10px;
    }

    p {

        font-family: $open-sans;
        font-size: 14px;
        color: #666666;
    }

    .btn-default {

        border: 1px solid #9b9797;
        color: #9b9797;
        margin: 0;
        @include prefix(transition, all .3s, ms moz webkit );

        &:hover {

            background-color: #9b9797;
            color: white;
        }
    }
}

.header {

    .btn-default {

        border: 1px solid #9b9797;
        color: #9b9797;
        margin: 0;
        @include prefix(transition, all .3s, ms moz webkit );

        &:hover {

            background-color: #9b9797;
            color: white;
        }
    }
}

.each-parceiro {

    background-repeat: no-repeat;
    background-position: center;

    > img {

        visibility: hidden;
        width: 100%;
    }
}

.footer-links {

    display: block;
    margin-bottom: 25px;
}

.socials {

    list-style: none;
    margin: 0 0 25px 0;

    > li {

        float: left;

        > a {

            display: block;
            @include prefix(transition, all .3s, ms moz webkit );

            &:hover {

                @include prefix(transform, translateY(-3px), ms moz webkit );
                opacity: .8;
            }
        }
    }

    > li:not(:last-child) {

        margin-right: 10px;
    }
}

.sign {

    font-family: $open-sans;
    font-weight: 700;
    line-height: 1.1;
    font-size: 12px;
    color: white;
    margin: 0;
}

.footer-menu {

    margin: 0 0 15px 0;
    list-style: none;

    > li {

        font-family: $open-sans;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 14px;

        > a {

            color: white;
        }
    }
}

.list-footer {

    margin: 0 0 35px 0;
    list-style: none;

    &.list-end {

        margin-bottom: 0;
    }

    > li:first-child {

        text-transform: uppercase;
        font-weight: 300;
        font-size: 20px;
        color: white;
    }

    > li {

        font-family: $open-sans;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 14px;

        > a {

            color: white;
        }
    }
}

.heart {

    font-family: $open-sans;
    font-size: 2.1875rem;
    font-weight: 300;
    line-height: 1.6;
    color: white;

    span {

        font-size: 3rem;
        line-height: 1;
    }
} 

.mosaic-wrapper {

    margin: -15px !important;
}

.post-link {

    position: relative;
    display: block;

    > .curtain {

        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        z-index: 11;
        padding: 0 0 30px 30px;
        @include prefix(align-items, flex-end, ms moz webkit );

        @media(min-width: 1025px) {

            > div {

                max-width: 60%;
            }
        }

        > div {

            @include prefix(transition, all .3s, ms moz webkit );
        }

        h4 {

            font-size: 1.5625rem;
            line-height: 1.2;
            color: white;
            font-family: $open-sans;
        }

        .author {

            @include prefix(align-items, center, ms moz webkit);

            img {
                @include prefix(flex, 1, ms moz webkit);
                border: 2px solid white;
                border-radius: 50%;
                margin: 0 10px 0 0;
                max-width: 40px;
            }

            > span {

                @include prefix(flex, 3, ms moz webkit);
                font-family: $open-sans;
                font-size: 14px;
                color: white;
            }
        }
    }

    &:hover {

        .curtain {

            > div {

                @include prefix(transform, translateY(-8px), ms moz webkit);
            }
        }
    }

    &:before {

        border: 15px solid white;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
}

@media (max-width: 600px) {

    .fix-bottom {

        margin-bottom: 20px;
    }
}